body,
html,
h1,
section,
button,
main {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.container__timer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer__title {
  font-size: 5em;
  font-weight: 300;
  text-align: center;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 360px;
  align-items: center;
}

.btn {
  background: #fff;
  border-radius: 6px;
  border: none;
  box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0,
    rgb(0 0 0 / 12%) 0 1px 18px 0;
  color: #404040;
  cursor: pointer;
  display: inline-block;
  font-family: "Google Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  width: 100px;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.btn:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.btn:active {
  outline: none;
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
}

.btn:focus {
  outline: none;
}

/* Theme */

.theme1 {
  background: linear-gradient(to right bottom, #08d5f2, #00bbff, #7e95ff, #cc5fce, #ea0476);
}

.theme2 {
  background : linear-gradient(to right bottom, #f0d833, #ffab25, #ff7b3b, #ff4758, #ea0476);
}
.theme3{
  background : linear-gradient(to right bottom, #f498c0, #e59bd3, #cfa1e4, #b3a7ef, #93aef5);
}
.theme4{
  background : linear-gradient(to right bottom, #f2ed8b, #d4f18c, #b2f395, #8af5a4, #53f5b9);
}

/* Media Query */

@media (min-width: 350px) {
  .buttons {
    width: 350px;
  }

  .btn {
    width: 80px;
  }

  .timer__title {
    font-size: 4em;
  }
}

@media (min-width: 480px) {
  .buttons {
    width: 460px;
  }

  .btn {
    width: 120px;
  }

  .timer__title {
    font-size: 6em;
  }
}

@media (min-width: 720px) {
  .buttons {
    width: 700px;
  }

  .btn {
    width: 200px;
    height: 40px;
  }

  .timer__title {
    font-size: 10em;
  }
}

@media (min-width: 980px) {
  .buttons {
    width: 900px;
  }

  .btn {
    width: 250px;
    height: 40px;
  }

  .timer__title {
    font-size: 14em;
  }
}