.theme {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}
.theme2 {
  background: linear-gradient(to right bottom, #08d5f2, #00bbff, #7e95ff, #cc5fce, #ea0476);
}
.theme3 {
  background : linear-gradient(to right bottom, #f0d833, #ffab25, #ff7b3b, #ff4758, #ea0476);
}
.theme4{
  background : linear-gradient(to right bottom, #f498c0, #e59bd3, #cfa1e4, #b3a7ef, #93aef5);
}
.theme5{
  background : linear-gradient(to right bottom, #f2ed8b, #d4f18c, #b2f395, #8af5a4, #53f5b9);
}
.themeWhite{
  background : linear-gradient(to right bottom, #fafafa, #e2e2e2);
}
.themeBlack{
  background : linear-gradient(to right bottom, #242424, #111111);
}

.themeWhite .btn_input ,.theme5 .btn_input {
  color: black;
  border: 0.2em solid rgb(20, 20, 20);
}
.theme,
.theme2,
.theme3,
.theme4,
.themeBlack 
{
  color: rgb(241, 241, 241);
}