.timer__title {
  font-weight: 300;
  text-align: center;
}

@media (min-width: 320px) {
  .timer__title {
    font-size: 4.5rem;
    padding: 0;
    width: 320px;
  }
}

@media (min-width: 375px) {
  .timer__title {
    font-size: 5rem;
    padding: 0;
    width: 375px;
  }
}

@media (min-width: 425px) {
  .timer__title {
    font-size: 6rem;
    padding: 0;
    width: 425px;
  }
}

@media (min-width: 580px) {
  .timer__title {
    font-size: 8rem;
    padding: 0;
    width: 580px;
  }
}

@media (min-width: 768px) {
  .timer__title {
    font-size: 10rem;
    padding: 0;
    width: 768px;
  }
}

@media (min-width: 980px) {
  .timer__title {
    font-size: 12rem;
    padding: 18px;
    width: 980px;
  }
}